{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Delete booking</h3>
            <p>Below is your information for this booking. Confirm to delete.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <!--Booking form with prepopulated field as readonly-->
            <form class="signup" id="booking_form" method="post">
                {% csrf_token %}
                <p><label for="id_first_name">First name:</label> <input type="text" name="first_name"
                        value="{{ booking.first_name }}" maxlength="50" required="" id="id_first_name" readonly></p>

                <p><label for="id_email">Email:</label> <input type="email" name="email" value="{{ booking.email }}"
                        maxlength="254" required="" id="id_email" readonly></p>

                <p><label for="id_date_time">Date and time: </label><input type="datetime-local" name="date_time"
                        value="{{ booking.date_time|date:'Y-m-d\TH:i' }}" required="" id="id_date_time" readonly></p>

                <p><label for="id_guests">Guests:</label> <input type="number" name="guests"
                        value="{{ booking.guests }}" required="" id="id_guests" readonly></p>

                <p><label for="id_special_request">Special request:</label> <textarea name="special_request" cols="40"
                        rows="4" id="id_special_request" readonly>{{ booking.special_request }}</textarea></p>

                <button class="btn btn-outline-secondary" type="submit">Confirm delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}