{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>Make a booking</h3>
      <p>Please enter your details.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form class="signup" id="booking_form" method="post">
        {% csrf_token %}
        <p>
          <label for="id_first_name">First name:</label>
          <input type="text" name="first_name" value="" maxlength="50" required="" id="id_first_name">
        </p>
      
        <p>
          <label for="id_email">Email:</label>
          <input type="email" name="email" value="" maxlength="254" required="" id="id_email">
        </p>
      
        <p>
          <label for="id_date_time">Date time:</label>
          <input type="datetime-local" name="date_time" value="" required="" id="id_date_time">
        </p>
        {% if form.date_time.errors %}
          <div class="alert alert-danger">
            {% for error in form.date_time.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      
        <p>
          <label for="id_guests">Guests:</label>
          <input type="number" name="guests" value="" required="" id="id_guests">
        </p>
        {% if form.guests.errors %}
          <div class="alert alert-danger">
            {% for error in form.guests.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
        <p>
          <label for="id_special_request">Special request:</label>
          <textarea name="special_request" cols="40" rows="4" id="id_special_request" required=""></textarea>
        </p>
      
        <button class="btn btn-signup right" type="submit">Make a booking</button>
      </form>
      </form>
    </div>
  </div>
</div>

{% endblock %}