{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="mb-5">Welcome to our restaurant booking site!</h2>
            <p class="mb-4 col-md-6">Thank you for choosing us for your bookings. We offer a wide range of options and our staff
                is dedicated
                to making your experience as enjoyable as possible. Please feel free make a reservation today! Navigate
                to 'Book a table' from the top menu to come to the booking page.</p>
            <p class="mb-4 col-md-6">You can see your existing bookings below.<br>Please click on the 'Edit' and 'Delete' buttons respectively to change
                your booking.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Bookings Column-->
        {% if user.is_authenticated %}
        {% for booking in booking_list %}
        <div class="col-md-4 booking-card">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Booking for {{ booking.guests }} guests</h3>
                    <p class="card-text">Date and time: {{ booking.date_time }}</p>
                    <p class="card-text text-muted h6">Name: {{ booking.first_name }}
                        {{ booking.last_name }}</p>
                    <p class="card-text text-muted h6">
                        Booking accepted: {{ booking.accepted }}</p>
                </div>
                <a class="nav-link btn btn-outline-secondary" href="{% url 'bookingapp:booking_edit' booking.id %}"
                    role="button">Edit booking</a>
                <a class="nav-link btn btn-outline-secondary" href="{% url 'bookingapp:booking_delete' booking.id %}"
                    role="button">Delete booking</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{%endblock%}